.vs
.vsconfig
Binaries
Intermediate
Saved
*.sln
HL_hair_s.png
.vscode/
/.vscode/*

Binaries/
Intermediate/
Saved/
DerivedDataCache/
Platforms/
*.VC.db
*.opensdf
*.sdf
*.sln
*.suo
*.user
.vs/
.vscode/
*.code-workspace
*.log